@import '../../main.css';

body {
    margin: 0;
}

.nav-top {
    background-color: var(--mainColor);
    padding: var(--thirdPadding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-top a {
    color: var(--lightColor);
    text-decoration: none;
}

.contact-me {
    font-size: 2.4em;
    font-family: var(--titleFont);  
    font-style: italic;
}

.logo-nav {
    font-family: var(--subTitleFont);
    font-size: 2em;
    opacity: 0.9;
}

.logo-nav-mcclane {
    color: var(--secondaryColor);
}