@import '../../main.css';

body {
    margin: 0;
}

nav {
    background-color: var(--mainColor);
    padding: var(--thirdPadding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: var(--lightColor);
    text-decoration: none;
}

.contact-me {
    font-size: 35px;
}