:root {
  --mainColor:;
  --secondaryColor:;
  --darkColor:;
  --lightColor:;
}

h1, h2, h3 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin: auto;

}

.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  color: red;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: grey;
  color: black;
}


form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  width: 50%;
}

button {
  background-color: black;
  color: red;
  cursor: pointer;
  padding: 20px;
  width: 100%;
}