/* Pour importer le fichier main.css sur votre style.css ajoutez "@import '../../main.css';" au début de votre code */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
    --mainColor: #131414;
    --secondaryColor: #d63031;
    --darkColor: #2d3436;
    --lightColor: #dfe6e9;
    --titleFont: 'Anton', sans-serif;
    --subTitleFont: 'Bebas Neue', cursive;
    --textFont: 'Questrial', sans-serif;
    --primaryPadding: 8px;
    --secondaryPadding: calc(var(--primaryPadding) * 2);
    --thirdPadding: calc(var(--primaryPadding) * 3);
}

* {
    background-color: #2d3436;
    font-size: 32px;
    margin:0px;

}

h1
{
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: #d63031;
    margin-top: 20px;
}

.interests
{
    width: 100vw;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.interest
{
    width:100vw;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 12px;
    margin-top:12px;
}

.interestPicture
{
    width: 25%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}

.interstTitle
{
    color:#dfe6e9;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 25px;
}
