@import 'main.css';
.about {
    padding: 0;
}

.bioHeading {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(img/bio_background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: auto;
    height: 100vh;
    padding: 0px;
}

/* Ici c'est la BIographie de John McClane, le flexbox contient 2 elements et ".h3", ".p", ".arrow" */

.bioText {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--mainColor);
    padding: 40px 50px;
    font-size: 100%;
    width: 60%;
    height: auto;
    border: solid 4px var(--lightColor);
    opacity: unset;
    /* background-color: var(--mainColor);  */
}

.bioText p {
    font-family: var(--textFont);
    font-size: 1.5em;
    margin: 0;
    color: var(--lightColor);
    font-weight: bold;
}

.bioText p span {
    color: var(--secondaryColor);
    font-family: var(--subTitleFont);
    font-size: 1.6em;
    margin-top: 10px;
    text-shadow: var(--mainColor);
}

@media screen and (max-width: 600px) {
    .bioHeading {
        background-attachment: local;
    }
    .bioText {
        height: auto;
        padding: 20px;
    }
    .bioText p {
        height: 100%;
        font-size: 1.1em;
        margin-bottom: 10px;
        line-height: 1.5em;
    }
    .bioText h2 {
        font-size: 3.2em;
        margin: 15px 0 15px 0;
        line-height: 1em;
    }
}