@import 'main.css';

.about {
    padding:0;
}

.bioHeading {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(img/bio_background.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center center;
    background-size: cover;
    width: auto;
    height:100vh;
    padding: 0px;
}


/* Ici c'est la BIographie de John McClane, le flexbox contient 2 elements et ".h3", ".p", ".arrow" */

.bioText {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--mainColor);
    padding: 20px;
    font-size: 100%;
    width: 60%;
    height: auto;
    text-align: justify;
    border: solid 4px var(--lightColor);
    opacity: unset;
    /* background-color: var(--mainColor);  */
}

.bioText h3 {
    font-family: var(--titleFont);
    font-weight: bold;
    font-size: medium;
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    color:var(--secondaryColor);
}

.bioText p {
    font-family: var(--textFont);
    font-size: 1.5em;
    margin:0;
    color:var(--lightColor);
    font-weight:bold;
}

