@import url("main.css");
/* la section body */

.experience_body {
  background: rgb(19, 20, 20);
  background: radial-gradient(circle, rgba(19, 20, 20, 1) 0%, rgba(40, 40, 40, 1) 100%);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* C'est le titre de la page */

.experience_body h2 {
  margin-top: 110px;
  margin-bottom: 0;
}

/* c'est l'embalage de l'ensemblembles des pages de timelines */

.swiper-container {
  height: 75vh;
  width: 100%;
  display: flex;
}

/* c'est l'embalage de images de timelines */

.swiper-wrapper {
  display: flex;
}

/* le slide */

.swiper-slide {
  display: flex;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background: var(--mainColor);
  text-align: center;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

/* Images */

.slide-image {
  width: 100%;
  height: 100%;
}

/* les pages (les dates) */

.swiper-pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
  font-size: 25px;
  z-index: 1;
}

/* les dates  */

.swiper-pagination-bullet {
  display: flex;
  width: auto;
  height: auto;
  opacity: 1;
  background: transparent;
  color: var(--lightColor);
  font-weight: 1000;
  font-style: italic;
  justify-content: flex-start;
  position: relative;
  margin-left: -353px;
  margin-bottom: 30px;
  align-items: center;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

/* Le timeline la boule sur la barre */

.swiper-pagination-bullet::before {
  display: flex;
  content: "";
  /* contien quelquechose :before ou :after l'element */
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--lightColor);
  transform: scale(1);
  /* transforme --> 0 = cacher et 1 = afficher */
  transition: 0.2s;
  justify-content: center;
  position: absolute;
  margin-left: -50px;
  display: none;
}

/* la barre pour le timeline */

.swiper-pagination::before {
  display: flex;
  justify-content: center;
  content: "";
  height: 100vh;
  width: 7px;
  background-color: var(--mainColor);
  opacity: 0.4;
  position: absolute;
  margin-left: -400px;
  display: none;
}

/* Le timeline la dates sur la barre encours */

.swiper-pagination-bullet-active {
  display: flex;
  color: var(--secondaryColor);
}

/* Le timeline la boule sur la barre encours */

.swiper-pagination-bullet-active::before {
  display: flex;
  transform: scale(1);
  /* transforme --> 0 = cacher et 1 = afficher */
  background-color: var(--secondaryColor);
  display: none;
}

/* Les fleche haut et bas */

.swiper-button-next, .swiper-button-prev {
  display: flex;
  background-size: 40px 40px;
  width: 40px;
  z-index: 1;
  transition: 0.2s;
}

/* La fleche pointant vers la gauche/haut */

.swiper-button-prev {
  left: 81.5%;
  top: 15%;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/05/Red_Arrow_Left.png");
  transform: rotate(0.25turn);
}

.swiper-button-prev:hover {
  transform: rotate(0.25turn);
}

/* La fleche pointant vers la droite/bas */

.swiper-button-next {
  left: 81.5%;
  top: 85%;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Red_Arrow_Right.svg/600px-Red_Arrow_Right.svg.png");
  transform: rotate(0.25turn);
}

.swiper-button-next:hover {
  transform: rotate(0.25turn);
}

.btn4 {
  display: flex;
  align-items: center;
}

/* Les contenus des pages slide : Les dates, les titres et le resumé */

.swiper-slide-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  max-width: 310px;
  transform: translate(50%, 0);
  font-size: 12px;
}

/* Les dates dans le slide (pas le timeline) */

.timeline-year {
  font-style: italic;
  font-family: var(--subTitleFont);
  font-size: 50px;
  color: var(--secondaryColor);
  font-weight: 300;
  opacity: 0;
  transition: 0.2s ease 0.6s;
  margin-bottom: 50px;
  transform: translate3d(20px, 0, 0);
  margin: 0;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

/* Le titres dans le slide */

.swiper-slide .timeline-title {
  font-weight: 800;
  font-size: 34px;
  font-family: var(--subTitleFont);
  opacity: 0;
  transition: 0.2s ease 0.4s;
  margin: 0;
  transform: translate3d(20px, 0, 0);
  color: var(--lightColor);
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

/* Les textes dans le slide */

.swiper-slide .timeline-text {
  opacity: 0;
  transition: 0.1s ease 0.4s;
  line-height: 1.5;
  transform: translate3d(20px, 0, 0);
  margin: 0;
  color: var(--lightColor);
  font-family: var(--titleFont);
  text-transform: uppercase;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

/* Les dates, titre et textes dans le slide apres le chargement */

.swiper-slide-active .timeline-year {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.2s ease 0.7s;
}

.swiper-slide-active .timeline-title {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.2s ease 1s;
}

.swiper-slide-active .timeline-text {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.2s ease 1s;
}