@import url("main.css");

/* la section body */
.experience_body {
  background: var(--mainColor);
  width: 100vw;
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* C'est le titre de la page */
.title_experiences {
  font-size: 5vh;
  color: var(--lightColor);
  font-style: italic;
  font-weight: 800;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* c'est l'embalage de l'ensemblembles des pages de timelines */
.swiper-container {
  height: 85vh;
  width: 100vw;
  display: flex;
}

 /* c'est l'embalage de images de timelines */
 .swiper-wrapper {
  display: flex;
}

/* le slide */
.swiper-slide {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background:var(--mainColor);
  text-align: center;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

/* Images */
.slide-image{
  width: 100%;
  height: 100%;
}

/* les pages (les dates) */
.swiper-pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
  font-size: 25px;
  z-index: 1; 
}


/* les dates  */
.swiper-pagination-bullet {
  display: flex;
  width: auto;
  height: auto;
  opacity: 1;
  background: transparent;
  color: var(--darkColor);
  font-weight: 1000;
  font-style: italic;
  justify-content: flex-start;
  position: relative;
  margin-left: -353px;
}


/* Le timeline la boule sur la barre */
.swiper-pagination-bullet::before {
  display: flex;
  content: ""; /* contien quelquechose :before ou :after l'element */
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--darkColor);
  transform: scale(1); /* transforme --> 0 = cacher et 1 = afficher */
  transition: 0.2s;
  justify-content: center;
  position: absolute;
  margin-left: -50px;
}


/* la barre pour le timeline */
.swiper-pagination::before {
  display: flex;
  justify-content: center;
  content: "";
  height: 100vh;
  width: 7px;
  background-color: var(--mainColor);
  opacity: 0.4;
  position: absolute;
  margin-left: -400px;
}


/* Le timeline la dates sur la barre encours */
.swiper-pagination-bullet-active {
  display: flex;
  color: var(--secondaryColor);
}


/* Le timeline la boule sur la barre encours */
.swiper-pagination-bullet-active::before {
  display: flex;
  transform: scale(1); /* transforme --> 0 = cacher et 1 = afficher */
  background-color: var(--secondaryColor);
}


/* Les fleche haut et bas */
.swiper-button-next,
.swiper-button-prev {
  display: flex;
  background-size: 40px 40px;
  width: 40px;
  z-index: 1;
  transition: 0.2s;
}



/* La fleche pointant vers la gauche/haut */
.swiper-button-prev {
  left:81.5%;
  top:15%;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/05/Red_Arrow_Left.png");
  transform: rotate(0.25turn);
}

.swiper-button-prev:hover {
  transform: rotate(0.25turn);
}


/* La fleche pointant vers la droite/bas */
.swiper-button-next {
  left: 81.5%;
  top: 85%;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Red_Arrow_Right.svg/600px-Red_Arrow_Right.svg.png");
  transform: rotate(0.25turn);
}
.swiper-button-next:hover {
  transform: rotate(0.25turn);
}




.btn4 {
  display: flex;
  align-items: center;

}



/* Les contenus des pages slide : Les dates, les titres et le resumé */
.swiper-slide-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  max-width: 310px;
  transform: translate(50%, 0);
  font-size: 12px;
}



/* Les dates dans le slide (pas le timeline) */
.timeline-year {
  font-style: italic;
  font-size: 42px;
  color: var(--secondaryColor);
  font-weight: 300;
  opacity: 0;
  transition: 0.2s ease 0.4s;
  margin-bottom: 50px;
  transform: translate3d(20px, 0, 0);
  margin: 0;
}

/* Le titres dans le slide */
.swiper-slide .timeline-title {
  font-weight: 800;
  font-size: 34px;
  opacity: 0;
  transition: 0.2s ease 0.5s;
  margin: 0;
  transform: translate3d(20px, 0, 0);
  color: var(--lightColor);
}

/* Les textes dans le slide */
.swiper-slide .timeline-text {
  opacity: 0;
  transition: 0.2s ease 0.6s;
  line-height: 1.5;
  transform: translate3d(20px, 0, 0);
  margin: 0;
  color: var(--lightColor);
}


/* Les dates, titre et textes dans le slide apres le chargement */
.swiper-slide-active .timeline-year {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.4s ease 1.6s;
}
.swiper-slide-active .timeline-title {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.4s ease 1.7s;
}
.swiper-slide-active .timeline-text {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.4s ease 1.8s;
}
