@import 'main.css';

footer {
    background-color: var(--mainColor);
    padding: calc(var(--secondaryPadding) *2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.items a {
    color: var(--lightColor);
    font-size: 1.7em;
    text-transform: uppercase;
    font-family: var(--subTitleFont);
    padding: 0 var(--secondaryPadding);
    transition: all 0.6s ease-out;
}

.items a:hover {
    color: var(--secondaryColor);
    transition: all 0.3s ease-in-out;
}

.all-rights {
    color: var(--lightColor);
    font-size: 1em;
    font-family: var(--textFont);
    text-align: center;
    margin-bottom: 0;
    margin-top: calc(var(--secondaryPadding) *2);
}

@media screen and (max-width: 600px) {
    .items a {
        font-size: 1.4em;
        padding: 0 var(--primaryPadding);
    }

    .all-rights {
        margin-top: var(--secondaryPadding);
        font-size: 0.8em;
    }
}