@import 'main.css';
.form {
    height: 100vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form h2 {
    margin-top: 40px;
}

.form h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--lightColor);
    font-family: var(--textFont);
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 100%;
    margin-top: 0;
}

.log {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    width: 55%;
}

.log label {
    margin-top: 20px;
    font-size: 2em;
    color: var(--lightColor);
    font-family: var(--subTitleFont);
}

.log input {
    height: 40px;
    margin-top: 5px;
    background-color: var(--mainColor);
    border: none;
    color: var(--lightColor);
    font-family: var(--subTitleFont);
    font-size: 1.5em;
    padding: 8px;
}

.message {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    width: 55%;
    max-width: 55%;
}

.message label {
    margin-top: 20px;
    font-size: 2em;
    color: var(--lightColor);
    font-family: var(--subTitleFont);
}

.message textarea {
    height: 120px;
    margin-top: 5px;
    background-color: var(--mainColor);
    border: none;
    color: var(--lightColor);
    font-family: var(--subTitleFont);
    font-size: 1.5em;
    padding: 8px;
}

input::placeholder {
    color: var(--lightColor);
    opacity: 0.5;
}

button {
    background-color: var(--lightColor);
    color: var(--mainColor);
    border-color: var(--mainColor);
    font-size: 2em;
    border: 3px solid var(--mainColor);
    border-radius: 4px;
    padding: 25px;
    margin: auto;
    margin-top: 20px;
    width: 20%;
    font-family: var(--subTitleFont);
    box-shadow: var(--mainColor);
    transition: ease 0.7s;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondaryColor);
    color: var(--lightColor);
    border-color: var(--lightColor);
    border: 3px solid var(--lightColor);
    transition: ease 0.7s;
}

button:active {
    filter: brightness(70%);
}

.error {
    background-color: var(--lightColor);
    padding: 8px;
    border-radius: 4px;
    margin: auto;
    list-style: none;
    width: 55%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.error li {
    color: var(--secondaryColor);
    font-family: var(--subTitleFont);
    margin: 5px;
    font-size: 1.1em;
}