@import url(../../main.css);


* {
box-sizing: border-box;
}

body {
padding: var(--primaryPadding);
margin: 0;
font-family: var(--titleFont);
background-color: var(--mainColor);
}

h1 {
padding: var(--primaryPadding);
margin: 0;
}

.cards {
margin-top: 10px;
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.card {
border-radius: 10px;
width: 200px;
margin: 20px;
display: flex;
flex-direction: column;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-img {
border-radius: 10px 10px 0 0;
background-size: cover;
background-position: center;
background-image: url("http://placekitten.com/200/300");
height: 200px;
width: 100%;
}

.card-body {
padding: 10px 20px;
}

.card-body h2 {
margin: 10px 0px;
}

h2 {
    color: var(--secondaryColor);
}