@import url(main.css);

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--mainColor);
    color: var(--secondaryColor);
}

h2 {
    font-family: var(--titleFont);
    text-transform: uppercase;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--primaryPadding);
    font-family: var(--textFont);
    transition: background .4s ease-in;
    background-color: var(--mainColor);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

input[type=radio] {
    display: none;
}

.card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#item-1:checked ~ .cards #photo-3, #item-2:checked ~ .cards #photo-1, #item-3:checked ~ .cards #photo-2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked ~ .cards #photo-2, #item-2:checked ~ .cards #photo-3, #item-3:checked ~ .cards #photo-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked ~ .cards #photo-1, #item-2:checked ~ .cards #photo-2, #item-3:checked ~ .cards #photo-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}

.player {
    background-color: var(--darkColor);
    border-radius: 8px;
    min-width: 320px;
    padding: 16px 10px;
}

.upper-part {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    height: 36px;
    overflow: hidden;
}

.photo-info {
    width: calc(100% - 32px);
    display: block;
}

.photo-info .title {
    color: var(--lightColor);
    font: var(--subTitleFont);
    font-size: 14px;
    line-height: 24px;
}

.sub-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.subtitle {
    font: var(-textFont);
    font-size: 12px;
    line-height: 16px;
    color: var(--lightColor);
}

.info-area {
    width: 100%;
    position: absolute;
    top: 0;
    left: 30px;
    transition: transform .4s ease-in;
}

#item-2:checked ~ .player #test {
    transform: translateY(0);
}

#item-2:checked ~ .player #test  {
    transform: translateY(-40px);
}

#item-3:checked ~ .player #test  {
    transform: translateY(-80px);
}

@media screen and (max-width: 768px) {
    .container {
        width: 75vw;
        max-width: 800px;
        max-height: 600px;
        height: 85vw;
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .carousel {
        height: 100vw;
    }

    h2 {
        margin-bottom: var(--thirdPadding);
    }
  }