@import url(../../main.css);
.home {
    
}

h1, h2 {
    text-align: center;
    color: var(--secondaryColor);

}

.images {
    display:flex;
    justify-content: center;

}

.cover {
    width:100%;
}