@import 'main.css';
.home {
    background-color: var(--mainColor);
    padding: 0;
    height: auto;
}

.heading {
    display: flex;
    flex-direction: column;
    width: auto;
}


/* Contient l'image de New York en arriere plan */

.bg-image {
    background-color: var(--mainColor);
    color: var(--secondaryColor);
    text-align: center;
    width: 100%;
    height: 100vh;
    background: url("img/new_york.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.mainHeading {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40em;
    padding: 8px;
    text-align: center;
}


/* les titres H1 et H2 */

.home h1 {
    color: var(--lightColor);
    text-align: center;
    font-family: var(--titleFont);
    font-weight: bold;
    position: relative;
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.home h1 span {
    color: var(--secondaryColor);
}

h2 {
    color: var(--lightColor);
    text-align: center;
    font-family: var(--subTitleFont);
    position: relative;
    font-size: 1.8em;
}

.home h2 span {
    color: var(--secondaryColor);
}

.titles {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}


/* Ici le flexbox contient 2 elements : ".photo", ".bio_text" */

.bioHeading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--mainColor);
    height: auto;
    /*padding: calc(var(--thirdPadding)*2);*/
    width: 100%;
    padding: 0px;
    align-items: center;
}


/* La photo de John McClane */

.photo {
    display: flex;
    margin-bottom: var(--thirdPadding);
    width: 30%;
    height: auto;
}


/* La photo de John McClane */

.photo2 {
    margin-bottom: var(--thirdPadding);
    width: 150%;
    height: auto;
    margin: 0px;
}


/* Ici c'est la BIographie de John McClane, le flexbox contient 2 elements et ".h3", ".p", ".arrow" */

.bioText {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--lightColor);
    padding: 0 var(--thirdPadding);
    font-size: 100%;
    width: 70%;
}

.home h3 {
    font-family: var(--titleFont);
    font-weight: bold;
    font-size: medium;
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
}

.home p {
    font-family: var(--textFont);
    font-size: 1.2em;
}


/* l'image de la fleche */

@keyframes down {
    0% {
        position: relative;
        top: 0px;
        opacity: 0
    }
    50% {
        position: relative;
        top: 15px;
        opacity: 0.5
    }
    100% {
        position: relative;
        top: 30px;
        opacity: 1
    }
}

.arrow {
    animation: down 1s infinite linear alternate;
    z-index: 3;
    width: 3vw;
    height: 6vh;
    bottom: 90%;
}

@media all and (max-width: 600px) {
    .bioHeading {
        display: flex;
        flex-direction: column;
    }
}