@import 'main.css';
.home {
    background-color: var(--mainColor);
    padding: 0;
    height: auto;
}

.heading {
    display: flex;
    flex-direction: column;
    width: auto;
}

/* Contient l'image de New York en arriere plan */

.bg-image {
    background-color: var(--mainColor);
    color: var(--secondaryColor);
    text-align: center;
    width: 100%;
    height: 100vh;
    background: url("img/new_york.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.mainHeading {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid var(--lightColor);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50em;
    padding: var(--secondaryPadding) var(--primaryPadding);
    text-align: center;
}


/* les titres H1 et H2 */

.home h1 {
    color: var(--lightColor);
    text-align: center;
    font-family: var(--titleFont);
    font-weight: bold;
    position: relative;
    font-size: 4em;
    text-transform: uppercase;
    padding: 50px;
    margin-bottom: var(--secondaryPadding);
    padding: 0;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

.home h1 span {
    color: var(--secondaryColor);
}


.home h2 {
    color: var(--lightColor);
    font-family: var(--titleFont);
    font-size: 2em;
    padding: 0;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    text-transform: uppercase;
}

.home h2 span {
    color: var(--secondaryColor);
}

.home p {
    font-family: var(--textFont);
    font-size: 1.5em;
    margin:0;
    color:var(--lightColor);
    font-weight:bold;
}