@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@import 'navbar_style.css';
@import 'home_style.css';
@import 'skills_style.css';
@import 'experiences_style.css';
@import 'formations_styles.css';
/* @import 'interests_style.css'; */
@import 'form_style.css';
@import 'footer_style.css';

:root {
  --mainColor: #131414;
  --secondaryColor: #d63031;
  --darkColor: #2d3436;
  --lightColor: #dfe6e9;
  --titleFont: 'Anton', sans-serif;
  --subTitleFont: 'Bebas Neue', cursive;
  --textFont: 'Questrial', sans-serif;
  --primaryPadding: 8px;
  --secondaryPadding: calc(var(--primaryPadding) * 2);
  --thirdPadding: calc(var(--primaryPadding) * 3);
}

html {
  scroll-behavior: smooth;
  width: 100vw;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.home {
  padding: 0;
}

h1, h2, h3 {
  text-transform: uppercase;
}

