@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import 'navbar_style.css';
@import 'home_style.css';
@import 'skills_style.css';
@import 'experiences_style.css';
@import 'formations_styles.css';
@import 'interests_style.css'; 
@import 'form_style.css';
@import 'footer_style.css';
:root {
  --mainColor: #131414;
  --secondaryColor: #d63031;
  --darkColor: #2d3436;
  --lightColor: #dfe6e9;
  --titleFont: 'Anton', sans-serif;
  --subTitleFont: 'Bebas Neue', cursive;
  --textFont: 'Questrial', sans-serif;
  --primaryPadding: 8px;
  --secondaryPadding: calc(var(--primaryPadding) * 2);
  --thirdPadding: calc(var(--primaryPadding) * 3);
}

html {
  scroll-behavior: smooth;
  width: auto;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}


h1, h2, h3 {
  text-transform: uppercase;
  font-style: normal;
}

h1 {
  font-size: 5em;
}

/*@media screen and (max-width: 600px) {
  .container {
    width: 75vw;
    max-width: 800px;
    max-height: 600px;
    height: 85vw;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .carousel {
    height: 100vw;
  }
  .formations h2 {
    margin-bottom: var(--thirdPadding);
  }
  .body_experiences {
    font-family: var(--titleFont);
    font-size: small;
  }
  .timeline .swiper-slide::after {
    right: -30%;
    bottom: -8%;
    width: 240px;
    height: 50%;
    box-shadow: -230px 0 150px 50vw rgba(0, 0, 0, 0.7);
  }
  .timeline .swiper-slide-content {
    right: 30%;
    top: 50%;
    transform: translateY(-50%);
    width: 310px;
    font-size: 11px;
    text-align: right;
  }
  .timeline .swiper-slide .timeline-year {
    margin-bottom: 0;
    font-size: 32px;
  }
  .timeline .swiper-slide .timeline-title {
    font-size: 46px;
    margin: 0;
  }
  .timeline .swiper-pagination {
    display: flex;
  }
  .timeline .swiper-button-prev {
    top: 15%;
    left: auto;
    right: 15%;
    transform: rotate(90deg) translate(0, 10px);
  }
  .timeline .swiper-button-prev:hover {
    transform: rotate(90deg) translate(-3px, 10px);
  }
  .timeline .swiper-button-next {
    top: auto;
    bottom: 15%;
    right: 15%;
    transform: rotate(90deg) translate(0, 10px);
  }
  .timeline .swiper-button-next:hover {
    transform: rotate(90deg) translate(3px, 10px);
  }
  .nav-left {
    display: none;
  }
  section {
    display: none;
  }
  .burger {
    display: block;
  }
  .items {
    display: none;
  }
  .nav-top {
    padding: var(--secondaryPadding);
  }
  .close {
    display: block;
  }
  .items a {
    font-size: 1.4em;
    padding: 0 var(--primaryPadding);
  }
  .all-rights {
    margin-top: var(--secondaryPadding);
    font-size: 0.8em;
  }
  .bioHeading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}*/