@import 'main.css';

.skills-main h2 {
    font-family: var(--titleFont);
    text-align: center;
    color: var(--secondaryColor);
    font-size: 50px;
    margin: 0;
}

.skills-main {
    margin: 0;
    padding: 0;
    width:auto;
    height: 100vh;
    background: rgb(45,52,54);
    background: linear-gradient(214deg, rgba(45,52,54,1) 0%, rgba(214,48,49,1) 50%, rgba(19,20,20,1) 100%); 
    background-image: url(img/skills_background.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center center;
    background-size: cover;
    backdrop-filter: blur(2px);
}



.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch ;
    flex-wrap: wrap;
}

.gauge {
    width: 60%;
    max-width: 200px;
    font-family: var(--textFont);
    font-size: 25px;
    background-color: var(--darkColor);
    border-radius: 8px;
    margin: var(--thirdPadding) 0;
    padding:8px;
}

.gauge__body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: var(--lightColor);
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
}

.gauge__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: var(--secondaryColor);
    transform-origin: center top;
}

#one {
    transform: rotate(0.250turn);
    transition-property: transform;
    transition-duration: 4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

#one:focus-visible {
    transform: rotate(0turn);
}

#two {
    transform: rotate(0.125turn);
    transition-property: transform;
    transition-duration: 4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

#two:focus-visible {
    transform: rotate(0turn);
}

#three {
    transform: rotate(0.375turn);
    transition-property: transform;
    transition-duration: 4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

#three:focus-visible {
    transform: rotate(0turn);
}

#four {
    transform: rotate(0.450turn);
    transition-property: transform;
    transition-duration: 4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

#four:focus-visible {
    transform: rotate(0turn);
}

#five {
    transform: rotate(0.455turn);
    transition-property: transform;
    transition-duration: 4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

#five:focus-visible {
    transform: rotate(0turn);
}


#six {
    transform: rotate(0.425turn);
    transition-property: transform;
    transition-duration: 4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

#six:focus-visible {
    transform: rotate(0turn);
}


.gauge__cover {
    width: 75%;
    height: 150%;
    background-color: var(--darkColor);
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    /*Text*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
    color: var(--lightColor);
}

.gauge__legend {
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
    box-sizing: border-box;
    color: var(--lightColor);
}