@import 'main.css';
.skills-main {
    margin: 0;
    padding: 0;
    width: auto;
    height: 100vh;
    background: rgb(45, 52, 54);
    background: linear-gradient(214deg, rgba(45, 52, 54, 1) 0%, rgba(214, 48, 49, 1) 50%, rgba(19, 20, 20, 1) 100%);
    background-image: url(img/skills_background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-global {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    width: 60%;
    padding: 0 50px 40px 50px;
}

.skills-main h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.skills {
    display: flex;
    flex-direction: column;
}

.top-cards, .bot-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0 40px 0;
}

.gauge {
    width: 60%;
    height: 20vh;
    max-width: 200px;
    margin: var(--thirdPadding) 0;
    margin: 0 30px;
}

.gauge-main {
    background-color: var(--mainColor);
    margin-bottom: 5px;
    padding: 35px 24px;
    border-radius: 8px;
}

.gauge-text {
    background-color: var(--mainColor);
    border-radius: 8px;
}

.gauge-text p {
    color: var(--secondaryColor);
    font-family: var(--subTitleFont);
    margin: 0;
    text-align: center;
    font-size: 1.7em;
    letter-spacing: 0.1em;
    padding: 15px;
    margin: 0;
}

.gauge__body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: var(--lightColor);
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
}

.skills-main:hover #one {
    --turnValue: 0.250turn;
}

.skills-main:hover #two {
    --turnValue: 0.125turn;
}

.skills-main:hover #three {
    --turnValue: 0.375turn;
}

.skills-main:hover #four {
    --turnValue: 0.450turn;
}

.skills-main:hover #five {
    --turnValue: 0.455turn;
}

.skills-main:hover #six {
    --turnValue: 0.445turn;
}

.gauge__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: var(--secondaryColor);
    transform-origin: center top;
    transform: rotate(var(--turnValue, 0));
    transition-property: transform;
    transition-duration: 2s;
    transition-delay: 5ms;
}

.gauge__cover {
    width: 75%;
    height: 150%;
    background-color: var(--mainColor);
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    /*Text*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    font-family: var(--subTitleFont);
    padding-bottom: 25%;
    box-sizing: border-box;
    color: var(--secondaryColor);
}